<h1><%= @patient.name %></h1>

<strong>Appointments:</strong><br />

<ul>
  <% @patient.appointments.each do |a| %>
    <li><%= a.appointment_datetime.strftime('%B %d, %Y') %> at <%= appointment.appointment_datetime.strftime('%H:%M') %> </li>
  <% end %>
</ul>